<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.core.event.mapper.EventMapper">

    <!-- Event ResultMap -->
    <resultMap id="EventResultMap" type="com.core.event.entity.Event">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="subtitle" column="subtitle"/>
        <result property="imageUrl" column="image_url"/>
        <result property="startDate" column="start_date"/>
        <result property="endDate" column="end_date"/>
        <result property="untilStockOut" column="until_stock_out"/>
        <result property="templateType" column="template_type"/>
        <result property="themeConfig" column="theme_config"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <sql id="EventColumns">
        e.id,
        e.title,
        e.subtitle,
        e.image_url,
        start_date,
        end_date,
        until_stock_out,
        e.template_type,
        e.theme_config,
        created_at,
        e.updated_at
    </sql>

    <!-- Event 조회 -->
    <select id="getEventById" resultMap="EventResultMap">
        SELECT
            <include refid="EventColumns" />
        FROM events e
        WHERE e.id = #{id}
    </select>

    <!-- EventNotice ResultMap -->
    <resultMap id="EventNoticeResultMap" type="com.core.event.entity.EventNotice">
        <result property="id" column="id"/>
        <result property="eventId" column="event_id"/>
        <result property="text" column="text"/>
        <result property="isImportant" column="is_important"/>
        <result property="displayOrder" column="display_order"/>
    </resultMap>

    <sql id="EventNoticeColumns">
        en.id,
        en.event_id,
        en.text,
        en.is_important,
        en.display_order
    </sql>

    <select id="getEventNoticeById" resultMap="EventNoticeResultMap">
        SELECT
            <include refid="EventNoticeColumns" />
        FROM event_notices en
        WHERE en.event_id = #{id}
        ORDER BY en.display_order ASC
    </select>


</mapper>

